
@using Treinamento.Presentation.MVC.Models

@model PedidoModel

@{
    Layout = null;
}

<tr>
    <td>@Model.Codigo</td>
    <td>@Model.Descricao</td>
    <td>@Model.Numero</td>
    <td>@Model.Data</td>
    <td>@Model.TipoPedido</td>
</tr>
